    <aside>
    <h3>RSS</h3>
    <p><a href="/feed.xml" title="Subscribe to our RSS feed">Subscribe to our RSS feed</a></p>
    <h3>Connect with us</h3>
    <ul class="social">
    <li><a href="https://github.com/endodoug" title="Github" class="github">Github</a></li>
    <li><a href="https://www.linkedin.com/in/dougharper" title="linked in" class="linked">LinkedIn</a></li>
    <li><a href="https://twitter.com/endodoug" title="twitter" class="twitter">Twitter</a></li>
    <li><a href="https://www.facebook.com/doug.harper.543" title="facebook" class="fb">Facebook</a></li>
    </ul>
    </aside>
